services:
  app:
    image: node:24.13.0-slim
    working_dir: /app
    command: sh -c 'npm i && npm run dev'
    environment:
      REDIS_URL: redis://valkey:6379
      EXPOSE_VERSION: 1
      # ALLOWED_ORIGIN: ""
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - node_modules:/app/node_modules
  valkey:
    image: valkey/valkey:8.1
    ports:
      - 6379:6379

volumes:
  node_modules:
