name: Publish container image
on:
  release:
    types: [published]

jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Extract tag
        run: echo "TAG=$(cat package.json | grep version | cut -f4 -d'"')" >> $GITHUB_ENV
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/asny23/metacog:${{ env.TAG }},ghcr.io/asny23/metacog:latest
